/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/* Form CSS */
.form-access {
    width: 305px;
    height: 328px;
}

.form-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.form-item label {
    align-self: center;
    width: 95px;
    font-size: 14px;
    padding-right: 10px;
}

/* Input Radio&Checkbox */
select {
    font-size: 14px;
}

.form-choice {
    display: flex;
    flex-direction: column;
}

.form-choice label {
    margin-bottom: 3px;
}

/* Form Buttons */
.form-buttons {
    margin-top: 10px;
    margin-left: 95px;
}

.form-buttons button {
    font-size: 14px;
    width: 52px;
    height: 22px;
}
