/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

#contact-map {
    margin-top: 32px;
    margin-left: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

/* nav cSS */
.location-nav {
    display: flex;
    font-weight: bold;
    margin-bottom: 32px;
}

.location-list {
    list-style: none;
    border: 2px solid #b09757;
    display: flex;
}

.location-item {
    padding: 12px 36px;
    text-align: center;
    color: #b09757;
}

.location-list .active {
    background-color: #b09757;
    color: #fff;
}

.location-item:hover {
    background-color: #b09757;
    color: #fff;
}

/* content CSS */
.address {
    display: flex;
    height: 400px;
}

.address .contact-infomation {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #f6f6f6;
    padding-left: 32px;
    padding-top: 52px;
}

.address .contact-infomation h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.detailed-address,
.contact-details {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.embedded-map {
    width: 70%;
}
