/* 
filter -> Tạo bộ lọc cho các thẻ html
    - grayscale(number): từ 0 đến 1
    - opacity(number): từ 0 đến 1
    - blur(number + init)

*/

.box {
    color: red;
    /* filter: grayscale(1); */
    filter: opacity(1);
}

.box:hover {
    /* filter: opacity(1); */
    /* filter: grayscale(1); */
    filter: blur(1px);
    filter: blur(1px) opacity(0.7) grayscale(1);
}
