* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Asap", sans-serif;
}
main {
    display: flex;
    justify-content: center;
}

.estate-section {
    width: 80%;
}

.estate-section .estate-section-header .estate-section-title {
    display: flex;
}

.estate-section .estate-section-header h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 60px;
    color: #3f301a;
}

.estate-list {
    list-style: none;
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
}

.estate-list .estate-item {
    display: flex;
}

.estate-list .estate-item a {
    text-decoration: none;
    color: #3f301a;
    text-align: center;
    padding: 10px 20px;
    margin-right: 45px;
    border-radius: 999px;
    background-color: #e5e5e5;
}

.estate-list .estate-item a:hover {
    color: #fff;
    background-color: #ae7c37;
}

.estate-list .estate-item:first-child a {
    color: #fff;
    background-color: #ae7c37;
}

.estate-list .estate-item a span {
    display: block;
    font-size: 1.2rem;
    font-style: italic;
    margin-top: 5px;
}

.estate-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.estate-location {
    position: relative;
    width: 32%;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
}

.estate-location img {
    width: 100%;
    min-height: 300px;
}

.estate-location-content {
    position: absolute;
    inset: 0;
}

.estate-location .estate-location-content h3 {
    font-size: 2.2rem;
    color: #fff;
    font-weight: 600;
    margin: 30px 20px;
}

.estate-location .estate-location-content p {
    font-size: 1.6rem;
    color: #fff;
    position: absolute;
    margin-left: 20px;
    bottom: 40px;
}

.estate-location .estate-location-content span {
    font-size: 2rem;
    font-weight: 600;
}

.estate-location:hover {
    scale: 1.01;
}
