* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
}

.list {
    width: 500px;
    padding: 10px;
    margin: 10px;
}

.list.active {
    background: #4286f4;
}

.list.dragenter {
    background: #a6c2f0;
}

.list-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.ghost {
    opacity: 0.4;
}

.list-item {
    background: #8bb3f4;
    border: 1px solid #fff;
    margin: 1px 0;
    padding: 0.5rem;
}

.placeholder {
    pointer-events: none;
    background: #303742;
    display: none;
}

.list-item.active {
    background: #ff6f00;
}
