.wrapper {
    width: 50%;
    margin: 0 auto;
    align-items: center;
}
.post {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.post:last-child {
    border-bottom: 0;
}
.post img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}
.post-content {
    max-width: 600px;
}
.post-title {
    font-size: 1.5em;
    font-weight: bold;
}
