.box {
    width: 400px;
    height: 200px;
    background: rgb(241, 241, 241);
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        115deg,
        rgba(241, 241, 241, 0) 45%,
        rgb(246, 246, 246, 0.8) 50%,
        rgba(241, 241, 241, 0) 55%
    );
    translate: -100%;

    animation-name: gradient;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

h1 {
    animation-iteration-count: infinite;
}

@keyframes gradient {
    to {
        translate: 100%;
    }
}
