@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
    --orange: #ffa500;
    --font: "Nunito", sans-serif;
    --white: #eeeeee;
    --black: #111;
    --dark-gray: #333333;
    --gray: #555;
    --light-gray: #aaa;
    --border: 2px solid var(--orange);
    --transition-all: all 0.2s linear;
}

html {
    font-size: 62.5%;
    font-family: var(--font);
}

/*  scrollbar css */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(8, 7, 7);
}

::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 10px;
}

main {
    position: relative;
    width: calc(100vw - 5px);
    max-width: 100vw;
    background-color: #efefef;
    transition: var(--transition-all);
    padding-top: 7.4rem;
    text-transform: capitalize;
}

.btn {
    background-color: var(--orange);
    border: var(--border);
    border-radius: 99px;
    font-size: 2rem;
    transition: var(--transition-all);
}

.btn:hover {
    color: var(--orange);
}

.content-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content-section .section-info .section-sub-title {
    color: var(--orange);
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
}
.content-section .section-info .section-title {
    color: var(--dark-gray);
    margin-bottom: 3rem;
    font-size: 4rem;
    font-weight: 700;
}
.content-section .section-info .section-detail {
    color: #555;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    margin-bottom: 4rem;
    line-height: 3rem;
}

/* header css */
.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.9);
    text-transform: capitalize;
}

/* header logo css */
a.logo {
    font-size: 2.5rem;
    color: rgb(255, 255, 255, 0.9);
    font-weight: 700;
}

a.logo .highlight {
    color: var(--orange);
}

/* header nav css */
.navbar {
    margin: 0 auto;
}

.navbar .nav-list {
    display: flex;
    font-size: 1.7rem;
    color: rgb(255, 255, 255, 1);
    transition: var(--transition-all);
}

.navbar .nav-list .nav-item {
    padding: 0 1.2rem;
}

.navbar .nav-list .nav-item:hover {
    color: var(--orange);
}

/* header theme css */
.page-header .day-and-night {
    padding-right: 10rem;
}
.page-header .day-and-night label {
    display: none;
    width: 34px;
    height: 34px;
    font-size: 2rem;
    color: var(--orange);
    border-radius: 50%;
    border: var(--border);
    line-height: 3.4rem;
    text-align: center;
    cursor: pointer;
}

/* Theme Mode */
#day-theme:checked ~ .page-header .day-and-night label[for="night-theme"] {
    display: block;
}
#night-theme:checked ~ .page-header .day-and-night label[for="day-theme"] {
    display: block;
}

#night-theme:checked ~ main {
    background-color: var(--black);
}

#night-theme:checked ~ .page-header .navbar .nav-list {
    color: #aaaaaa;
}

.page-header > .btn {
    padding: 0.8rem 1rem;
    color: var(--black);
}

.page-header .btn:hover {
    color: var(--white);
    background-color: rgba(114, 74, 0, 0.2);
}

/* page content css */
.content-section {
    padding: 3rem 9%;
}

/* home */
#home-section {
    margin: 3rem auto;
    padding: 0;
    width: 90%;
    min-height: 80vh;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    text-align: center;
    position: relative;
    transition: var(--transition-all);
}

#home-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: local url("../images/home-bg.jpg") 50% 50% / cover no-repeat
        content-box;
    border-radius: 10px;
    position: absolute;
    inset: 0;
    overflow: hidden;
}

#home-section .container::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-color: rgba(17, 17, 17, 0.7);
}

#home-section .container .section-title {
    font-size: 9.6rem;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 7.2rem 0 4rem;
}

#home-section .container .section-title .title-highlight {
    padding-bottom: 3rem;
    -webkit-text-stroke: 2px var(--orange);
    color: transparent;
    font-size: 7.6rem;
    position: relative;
}

#home-section .container .section-detail {
    position: relative;
    display: block;
    width: 60rem;
    padding-bottom: 3rem;
    font-weight: 400;
}

#home-section .container .btn {
    position: absolute;
    top: 46rem;
    width: 18.2rem;
    height: 4.8rem;
    font-weight: 400;
    text-align: center;
    line-height: 4.8rem;
    color: var(--black);
}

#home-section .container .btn:hover {
    background-color: transparent;
    color: var(--white);
}

/* book */
#book-section {
    width: 100%;
    margin: 0 auto;
    padding: 0 10%;
}

#book-section .container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: -8rem;
    padding: 3.25rem;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
}

#book-section .container .section-title {
    font-size: 3.75rem;
    color: var(--orange);
    font-weight: 600;
    flex: 1;
}

#book-section .container .btn {
    display: block;
    flex: 1;
    color: var(--white);
    font-weight: 600;
    text-align: center;
    padding: 1.75rem 0;
}

#book-section .container .btn:hover {
    background-color: rgba(255, 165, 0, 0.2);
    color: var(--orange);
}

/* about css */

#about-section .container {
    flex-direction: row;
    align-items: center;
    text-align: left;
}

#about-section .container .video-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#about-section .container .video-container video {
    display: none;
    max-width: 100%;
    border-radius: 10px;
    margin: 0 4rem 2rem 0;
}
#about-section .container .video-container input.select-vid:checked + video {
    display: block;
}

#about-section .video-panel {
    display: flex;
}
#about-section .video-panel {
    display: flex;
}

#about-section .video-panel label {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: var(--border);
    margin: 5px;
    transition: var(--transition-all);
}
#about-section .video-panel label:hover {
    background-color: var(--orange);
    cursor: pointer;
}

#about-section .section-info {
    flex: 1;
}

#about-section .section-info .btn {
    padding: 0.8rem 2rem;
    color: var(--white);
}
#about-section .section-info .btn:hover {
    background-color: rgba(255, 165, 0, 0.2);
    color: var(--orange);
}

/* places css */

#places-section .container .place-list {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#places-section .place-item {
    position: relative;
    width: 30rem;
    min-height: 40rem;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 12px 12px 0;
}

#places-section .place-item .place-img {
    max-height: 200px;
    overflow: hidden;
}

#places-section .place-item .place-img img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    transition: var(--transition-all);
}

#places-section .place-item:hover > .place-img img {
    scale: 1.1;
}

#places-section .place-item .item-detail {
    padding: 20px 0.8rem;
}

#places-section .place-item .item-detail .place-title {
    font-size: 2rem;
    color: var(--dark-gray);
    margin-bottom: 2rem;
}

#places-section .place-item .item-detail .place-description {
    font-size: 1.4rem;
    color: var(--light-gray);
    line-height: 28px;
}

#places-section .place-item .btn-read-more {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 2rem 2rem;
    width: 130px;
    font-size: 1.7rem;
    color: var(--orange);
    transition: var(--transition-all);
}

#places-section .place-item .btn-read-more:hover {
    width: 140px;
}

/* service css */
#services-section .container .services-list {
    display: flex;
    flex-wrap: wrap;
}

#services-section .container .services-list .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 382px;
    height: 200px;
    border: var(--border);
    padding: 3rem;
    border-radius: 10px;
    background-color: transparent;
    margin: 0 1rem 1rem 0;
}
#services-section .container .services-list .service-item:hover {
    background-color: #fff;
}

#services-section .service-item .service-icon {
    font-size: 4rem;
    color: var(--orange);
}
#services-section .service-item .service-title {
    font-size: 2rem;
    color: var(--dark-gray);
    padding: 3rem 0;
    font-weight: 700;
}
#services-section .service-item .service-text {
    font-size: 1.4rem;
    color: var(--light-gray);
    font-weight: 600;
}

/* gallery css */
#gallery-section .img-list {
    display: flex;
    flex-wrap: wrap;
}

#gallery-section .img-item {
    position: relative;
    width: 38.2rem;
    height: 37rem;
    max-height: 37rem;
    margin: 0 6px 6px 0;
    text-align: left;
}

#gallery-section .img-item .img-box {
    border-radius: 10px;
    max-height: 30.6rem;
    overflow: hidden;
}

#gallery-section .img-item .img-box img {
    width: 100%;
    height: 30.6rem;
    object-fit: cover;
}

#gallery-section .img-list .img-item .img-sub-title {
    font-size: 1.4rem;
    color: var(--dark-gray);
    padding-top: 15px;
    font-weight: 600;
}
#gallery-section .img-list .img-item .img-title {
    font-size: 2rem;
    color: var(--orange);
    font-weight: 700;
    padding-top: 15px;
}

/* review-section */
#review-section .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#review-section .container .section-info {
    flex: 1;
    text-align: left;
}

#review-section .container .section-info .section-detail {
    font-size: 1.4rem;
    font-weight: 600;
}

#review-section .container .review-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#review-section .container .review-container .review-row-1 {
    display: flex;
    justify-content: space-between;
}

#review-section .review-item {
    padding: 2rem 1.5rem;
    border: var(--border);
    border-radius: 10px;
    flex: 1;
    margin: 0.6rem;
}

#review-section .review-item:hover {
    padding: 2rem 1.5rem;
    border: var(--border);
    background-color: #fff;
}

#review-section .review-item .review-text {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 28px;
    color: var(--gray);
    text-align: left;
    padding-bottom: 1.5rem;
}

#review-section .review-item .reviewer {
    display: flex;
    align-items: center;
}

#review-section .reviewer .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1.5rem;
}

#review-section .reviewer .user-avatar img {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

#review-section .reviewer .user-info {
    text-align: left;
}

#review-section .reviewer .user-info .user-name {
    color: var(--dark-gray);
    font-size: 1.7rem;
    font-weight: 600;
}
#review-section .reviewer .user-info .user-career {
    color: var(--gray);
    font-size: 1.5rem;
    padding-top: 0.6rem;
}

/* contact css */
#contact-section .container .section-info .section-sub-title {
    color: var(--orange);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 3rem;
}

#contact-section .container .section-content {
    display: flex;
    align-items: center;
}

#contact-section .container .section-content .map {
    width: 40%;
}
#contact-section .container .section-content .map iframe {
    width: 100%;
    height: 36rem;
}

#contact-section .container .section-content .contact-form {
    flex: 1;
    margin-left: 2rem;
}

#contact-section .contact-form .form-contact {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

#contact-section .contact-form .form-contact input {
    background-color: #f7f7f7;
    width: 48%;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    line-height: 2rem;
    color: var(--dark-gray);
}

#contact-section #comment {
    resize: none;
    background-color: #f7f7f7;
    font-family: var(--font);
    min-width: 98%;
    min-height: 15rem;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.7rem;
}

#contact-section .form-contact .form-btn {
    width: 98%;
    display: flex;
    align-items: flex-start;
    margin-top: 2rem;
}

#contact-section .form-contact .form-btn .btn {
    padding: 1rem 2rem;
    color: var(--white);
    text-transform: capitalize;
}
#contact-section .form-contact .form-btn .btn:hover {
    background-color: rgba(255, 165, 0, 0.2);
    color: var(--orange);
}

/* blogs css */
#blogs-section .blogs-list {
    display: flex;
}
#blogs-section .blogs-list .blog-item {
    display: flex;
    flex-direction: column;
}

#blogs-section .blog-item {
    position: relative;
    width: 52rem;
    min-height: 40rem;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 12px 12px 0;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.2);
}

#blogs-section .blog-item .blog-img {
    max-height: 100%;
    overflow: hidden;
}

#blogs-section .blog-item .blog-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: var(--transition-all);
}

#blogs-section .blog-item:hover > .blog-img img {
    scale: 1.1;
}

#blogs-section .blog-item .item-detail {
    padding: 3rem 2rem;
}

#blogs-section .blog-item .item-detail .blog-title {
    font-size: 2rem;
    color: var(--dark-gray);
    margin-bottom: 2rem;
    text-align: left;
}
#blogs-section .blog-item .item-detail .blog-title:hover {
    color: var(--orange);
}

#blogs-section .blog-item .item-detail .blog-description {
    font-size: 1.4rem;
    color: var(--light-gray);
    line-height: 28px;
    text-align: left;
    color: var(--gray);
}

#blogs-section .blog-item .item-footer {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    font-size: 1.4rem;
}

#blogs-section .blog-item .item-footer > div {
    color: var(--gray);
    cursor: pointer;
}

#blogs-section .blog-item .item-footer > div:hover {
    color: var(--orange);
    transition: var(--transition-all);
}

#blogs-section .item-footer .item-icon {
    color: var(--orange);
    padding-right: 0.5rem;
}

/* footer css */
.page-footer {
    height: 62rem;
    background: fixed
        url(https://stravelhtml.vercel.app/mumbai/images/banner-bg.jpg)
        no-repeat center / cover;
    display: flex;
    flex-direction: column;
}

.page-footer * {
    color: #aaa;
}

.page-footer .booking-now {
    height: 25.6rem;
    background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7));
    text-align: center;
    padding: 0 9%;
}

.page-footer .booking-now .footer-sub-title {
    color: var(--orange);
    padding: 2.4rem;
    font-size: 2rem;
}
.page-footer .booking-now .footer-title {
    color: var(--white);
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 700;
}
.page-footer .booking-now .footer-detail {
    color: var(--white);
    margin-bottom: 2rem;
    font-size: 1.4rem;
    margin-bottom: 3rem;
    line-height: 3rem;
}

.page-footer .booking-now .btn {
    padding: 0.8rem 1.8rem;
    color: var(--white);
    text-transform: capitalize;
}

.page-footer .booking-now .btn:hover {
    color: var(--orange);
    background-color: rgba(114, 74, 0, 0.2);
}

.page-footer .footer-content {
    display: flex;
    padding: 4rem 9%;
    flex: 1;
    background-color: #222222;
}

.page-footer .footer-content .footer-item {
    flex: 1;
}

.footer-content .footer-item .footer-item-title {
    font-size: 2.2rem;
    color: var(--white);
    padding-bottom: 2rem;
    font-weight: 700;
}

/* footer info */
.footer-content .footer-item .info-text {
    font-size: 1.4rem;
    line-height: 2.8rem;
    padding: 2rem 0;
}
.footer-content .footer-item .social-box .social-list {
    display: flex;
}
.footer-item .social-box .social-list .social-item {
    padding-right: 1rem;
}

.footer-item .social-box .social-list .social-item a i {
    transition: var(--transition-all);

    color: var(--orange);
}
.footer-item .social-box .social-list .social-item a:hover i {
    color: #222222;
}

.footer-item .social-box .social-list .social-item a {
    display: block;
    font-size: 1.7rem;
    width: 4.5rem;
    height: 4.5rem;
    border: var(--border);
    border-radius: 50%;
    background-color: transparent;
    transition: var(--transition-all);
    text-align: center;
    line-height: 4.5rem;
}
.footer-item .social-box .social-list .social-item a:hover {
    background-color: var(--orange);
}

/* footer nav */
.footer-content .footer-item .navbar .nav-list {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    width: 100%;
}

.footer-item .navbar .nav-list .nav-item {
    padding: 1.2rem 0;
}

.footer-item .navbar .nav-list .nav-item i {
    padding-right: 1rem;
    color: var(--orange);
    transition: var(--transition-all);
}

.footer-item .navbar .nav-list .nav-item:hover i {
    padding-right: 2rem;
    color: var(--orange);
    transition: var(--transition-all);
}

/* regis */
.footer-content .footer-item .regis-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.footer-content .footer-item .regis-form input {
    line-height: 2rem;
    font-size: 1.5rem;
    width: 100%;
    padding: 1.2rem 1.4rem;
    border: var(--border);
    border-radius: 99px;
    background: transparent;
    margin-bottom: 2rem;
}
.footer-content .footer-item .regis-form button {
    width: 12rem;
    height: 4.8rem;
    border-radius: 99px;
    border: var(--border);
    font-size: 2rem;
    background: var(--orange);
    color: var(--gray);
}
.footer-content .footer-item .regis-form button {
    width: 12rem;
    height: 4.8rem;
    border-radius: 99px;
    border: var(--border);
    font-size: 2rem;
    background: var(--orange);
    color: var(--gray);
}
.footer-content .footer-item .regis-form button:hover {
    color: var(--orange);
    background-color: rgba(114, 74, 0, 0.2);
}

/* footer text css */
.page-footer .footer-text {
    color: var(--gray);
    font-size: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #222;
}
.page-footer .footer-text span {
    color: var(--orange);
}
