/* 
******Thuộc tính position
- static --> không có position
- relative --> vị trí tương đối
- absolute --> vị trí tuyệt đối
- fix --> vị trí cố định

Khi sử dụng position trừ static sẽ có các thuộc tính: 
- top
- left
- right
- bottom
- z-index
- inset

*****Thứ tự các thẻ position
- thẻ nào có position -> ưu tiên nằm trên
- 2 thẻ có position -> thẻ nào nằm dưới trong html -> nằm trên
--> z-index
        - 0: mặc định
        - có thể dùng số âm -> không nên dùng

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

.content {
    height: 2000px;
}

.box {
    border: 1px solid red;
    width: 300px;
    height: 300px;
    margin: 30px auto;
    position: relative;
}

.item {
    padding: 10px 20px;
    background: green;
    border: 1px solid #fff;
    color: #fff;
    width: 100px;
}

.item:nth-child(2) {
    position: relative;
    top: 0;
    left: calc(100% - 100px);
}

.item:nth-child(3) {
    position: absolute;
    /* 
    nếu element có width, height không phải auto -> ưu tiên left, top
    ngược lại -> căng hết các giá trị
    */
    top: 0;
    left: 50px;

    /* 
    = inset: 0;
    */
    z-index: 1;
}

.item:nth-child(4) {
    position: fixed;
    /* 
    luôn nhận body làm cha
    */
    top: 0;
    right: 0;
}
