/* 
Attribute Selector

1. tag[attribute]

2. tag[attribute="value"]

3. tag[attribute^="value"]: Chọn thuộc tính có giá trị bắt đầu là value

4. tag[attribute*="value"]: Chọn thuộc tính có giá trị chứa value
   tag[attribute~="value"]: Chọn thuộc tính có giá trị chứa value nhưng phải là 1 từ (trước và sau phải có khoảng trắng)

5. tag[attribute$="value"]: Chọn thuộc tính có giá trị kết thúc là value

Lưu ý: class, id hoàn toàn có thể áp dụng như attribute selector

*/

ul li a[target] {
    color: red;
}

ul li a[href^="https://fullstack.edu.vn"]
{
    color: green;
}

ul li a[href*="fullstack.edu.vn"] {
    color: yellow;
}

ul li a[href$=".vn"] {
    color: pink;
}

ul li a[title~="hello"] {
    color: black;
}

.row [class^="col-"] {
    color: blue;
}

* {
    color: aqua;
}
