* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Nunito", sans-serif;
}

.login-section {
    width: 100%;
    height: 100vh;
    background: #e8e8ea
        url("http://uiwebsoft.com/justlog/login-one/images/login-bg2.jpg")
        no-repeat -50px -300px / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-wraper {
    background-color: #fff;
    width: 60%;
    height: 70%;
    margin: 0 auto;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    position: relative;
}

.social-login {
    width: 40%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background-color: #ff574d;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-item {
    position: absolute;
    left: calc(40% - 25px);
    top: calc(50% - 25px);
    font-size: 1.6rem;
    border-radius: 50%;
    background-color: #fff;
    color: #ff574d;
    width: 50px;
    height: 50px;
    text-align: center;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.3);
}

.arrow-item label i {
    cursor: pointer;
    font-weight: bolder;
    line-height: 50px;
    display: block;
}

.social-login header {
    margin-top: 20%;
    font-size: 3.6rem;
    padding: 40px 0;
}

.social-login header span {
    background-color: #fff;
    color: #ff574d;
    padding: 0 8px;
    border-radius: 3px;
}

.social-login p {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 40px;
}

.social-login a {
    text-decoration: none;
}

.btn-read-more {
    font-size: 1.6rem;
    padding: 10px 40px;
    border-radius: 3px;
    font-weight: 700;
    background-color: #fff;
    color: #ff574d;
    margin-bottom: 40px;
}

.btn-read-more:hover {
    background-color: #f77f72;

    color: #fff;
}

.social-list {
    list-style: none;
    display: flex;
}

.social-item a {
    display: block;
    font-size: 2rem;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    text-align: center;
    line-height: 4rem;
    border-radius: 3px;
    background-color: #db5c4f;
    color: #fff;
}

.social-item a:hover {
    background-color: #f77f72;
}

.login-box {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    color: #717171;
}

.login-box header h2 {
    font-size: 3.2rem;
    color: #272323;
}

.login-box header span {
    color: #ff574d;
}

.login-box h2::after {
    content: "";
    display: block;
    width: 60px;
    margin: 20px auto;
    border: 1px solid #ff574d;
}

.form-login {
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.login-box .input-field {
    display: block;
    width: 100%;
    height: 60px;
    padding-left: 30px;
    font-size: 1.6rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.login-box a {
    text-decoration: none;
    color: #717171;
}

.password-controls {
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 30px;
}

.password-controls .checkbox-remember {
    float: left;
}

.password-controls .checkbox-remember input {
    margin-right: 6px;
    cursor: pointer;
}

.password-controls .checkbox-remember label {
    cursor: pointer;
}

.password-controls .checkbox-remember:hover {
    color: #ff574d;
}

.password-controls a {
    float: right;
}

.password-controls a:hover {
    color: #ff574d;
}

.btn-login {
    width: 100%;
    text-align: center;
    display: block;
    background-color: #ff574d;
    color: #fff;
    font-size: 1.8rem;
    line-height: 60px;
    margin-bottom: 30px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #f77f72;
}

.register {
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
}

.register a:hover {
    color: #ff574d;
}
