* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

html {
    font-size: 10px;
}

main {
    display: flex;
    justify-content: center;
}

.contact-section {
    width: 30%;
}

header {
    margin-top: 32px;
    margin-bottom: 38px;
}

header p {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.8rem;
    margin-bottom: 32px;
}

select {
    appearance: none;
}

header h2,
header h2 span {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

header h2 {
    color: #dddddd;
}

header h2 span {
    color: red;
}

.form-contact {
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
}

.input-field {
    position: relative;
    margin-bottom: 30px;
    display: flex;
}

.input-hint {
    display: none;
    position: absolute;
    top: -72px;
    left: 30px;
    background-color: #333333;
    font-size: 1.4rem;
    color: #fff;
    padding: 16px 20px;
}

.input-hint::after {
    content: "";
    width: 0;
    height: 0;
    border: 20px solid;
    border-color: #333333 transparent transparent transparent;
    position: absolute;
    top: 42px;
    left: 28px;
    /* bottom: -32px; */
}

.input-field input[name="name"]:active ~ span[class*="hint-name"],
.input-field input[name="name"]:focus ~ span[class*="hint-name"],
.input-field input[name="email"]:active ~ span[class*="hint-email"],
.input-field input[name="email"]:focus ~ span[class*="hint-email"],
.input-field input[name="number-phone"]:active ~ span[class*="hint-phone"],
.input-field input[name="number-phone"]:focus ~ span[class*="hint-phone"],
.input-field select[name="subject"]:active ~ span[class*="hint-subject"],
.input-field select[name="subject"]:focus ~ span[class*="hint-subject"],
.input-field textarea[name="message"]:active ~ span[class*="hint-message"],
.input-field textarea[name="message"]:focus ~ span[class*="hint-message"] {
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-prefix-icon {
    background-color: #dddddd;
    color: #fff;
    text-align: center;
    width: 52px;
    height: 52px;
    line-height: 3.25;
    font-size: 1.6rem;
}

.input-prefix-icon i {
    font-size: inherit;
}

.input-field select {
    font-family: "Lato", sans-serif;
    flex: 1;
    width: 100%;
    padding-left: 24px;
    border: 1px solid #dddddd;
    font-size: 1.4rem;
}

.input-field select:required:invalid,
.input-field input::placeholder,
.input-field textarea::placeholder {
    color: #dddddd;
    font-size: 1.4rem;
}

.input-field select option {
    color: #000;
    font-family: "Lato", sans-serif;
    font-size: 1.4rem;
}

.input-field input,
.input-field textarea {
    flex: 1;
    width: 100%;
    padding-left: 24px;
    border: 1px solid #dddddd;
    font-size: 1.4rem;
    appearance: none;
}

.input-field input::placeholder {
    color: #dddddd;
}

.input-field textarea {
    padding-top: 16px;
    height: 100%;
    resize: none;
}

.input-addon-icon,
.input-x {
    position: absolute;
    right: 2%;
    top: calc(50% - 5px);
    color: #dddddd;
}

.input-x {
    display: none;
}

.input-addon-icon.message-addon-icon {
    position: absolute;
    top: 5%;
}

.form-footer {
    display: flex;
}

.copy-check {
    width: 80%;
    color: #dddddd;
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
}

.form-contact button {
    width: 25%;
    height: 40px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    color: #fff;
    background-color: #e93f32;
}

.form-contact button:hover {
    background-color: #e4584e;
}

.input-field.input-message {
    height: 240px;
}

.input-prefix-icon.refix-message-icon {
    height: 100%;
}

/* HOVER */
.input-field:hover .input-prefix-icon {
    background-color: #333333;
}

.input-field:hover > input,
.input-field:hover > select,
.input-field:hover > textarea {
    border: 1px solid #333333;
}

.input-field:focus-within .input-prefix-icon {
    background-color: #333333;
}

.input-field:focus-within .input-addon-icon {
    display: none;
}
.input-field:focus-within .input-x {
    display: inline;
}

.form-contact button {
    cursor: pointer;
}
