@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.content {
    width: 100%;
    height: 2000px;
    background-color: rgb(106, 252, 172);
}

.burger-menu {
    width: 100%;
    height: 100vh;
    background: #31a8f6;
    font-family: "Roboto", sans-serif;
    position: relative;
    overflow: hidden;
}

.burger-menu .bg-menu {
    position: absolute;
    inset: 0;
}

.burger-menu .burger-nav {
    position: absolute;
    inset: 0;
}

.burger-menu .burger-nav .nav-list {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
    transition-property: opacity, transform;
}

.burger-menu .bg-menu .section-title {
    font-family: "Roboto", sans-serif;
    font-size: 5.2rem;
    font-weight: 500;
    color: #fff;
    position: absolute;
    top: 37%;
    left: 65%;
}

.burger-menu .bg-menu .section-description {
    font-size: 2rem;
    color: #fff;
    font-weight: 200;
    position: absolute;
    top: calc(37% + 82px);
    left: 65%;
}

.burger-menu .bg-menu .section-description span {
    font-size: 3.2rem;
}

.burger-menu .burger-nav .bg-nav {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 1px 0 10px #0000009c;
    transition: all 0.3s ease;
}

.burger-menu .panel .menu-icon-box {
    position: absolute;
    top: 24px;
    left: 20px;
    width: 36px;
    height: 28px;
    cursor: pointer;
    visibility: hidden;
    transform: none;
    opacity: 0;
    transition: 0.3s ease;
    transition-property: opacity, transform;
    z-index: 1;
}

.burger-menu .panel .menu-icon-box .menu-icon {
    border: 2px solid #31a8f6;
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    right: 0;
}

.burger-menu .panel .menu-icon-box .menu-icon::before {
    content: "";
    width: 32px;
    height: 0px;
    border: 2px solid #31a8f6;
    position: absolute;
    top: -12px;
    left: -2px;
}
.burger-menu .panel .menu-icon-box .menu-icon::after {
    content: "";
    width: 32px;
    height: 0px;
    border: 2px solid #31a8f6;
    position: absolute;
    top: 8px;
    left: -2px;
}

.burger-menu .panel .back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #31a8f6;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transform: none;
    transition: 0.3s ease;
    transition-property: opacity, transform;
    cursor: pointer;
    z-index: 1;
}

.burger-menu .panel .back-icon i {
    font-size: 3.6rem;
}

#panel:not(:checked) + .panel .menu-icon-box {
    visibility: visible;
    opacity: 1;
    transform: rotate(-180deg);
}
#panel:checked + .panel .back-icon {
    visibility: visible;
    opacity: 1;
    transform: rotate(180deg);
}
#panel:checked ~ .burger-nav .nav-list {
    visibility: visible;
    opacity: 1;
}

#panel:checked ~ .burger-nav .bg-nav {
    width: 500vh;
    height: 500vh;
}

.burger-nav .nav-list {
    position: absolute;
    top: 80px;
    left: 0;
    font-size: 1.6rem;
    font-weight: 600;
    list-style: none;
}

.burger-nav .nav-list .nav-item {
    padding: 16px 0;
}

.nav-list .nav-item label {
    display: block;
    text-decoration: none;
    color: #31a8f6;
    line-height: 30px;
    padding: 0 100px 0 50px;
    cursor: pointer;
    text-align: center;
}

.nav-list .nav-item > input:checked + label {
    background-color: #ccc;
    color: #000;
}
