/* 
Cú pháp: 
selector:name 

- active
- hover
- focus
- disable
- checked
- not
- first-child
- last-child
- first-of-type
- last-of-type
- nth-child
- nth-of-type

active, hover --> có ở tất cả các thẻ HTML

focus --> chỉ có ở FORM
* NGOẠI LỆ: Tất cả các thẻ có thể có focus nếu thêm thuộc tính tabindex

*/

.btn:hover {
    color: red;
}

.btn:active {
    color: blueviolet;
}

input:focus::placeholder {
    color: red;
}

h1:focus {
    color: green;
}

.btn:disabled:hover {
    color: green;
}

input:read-only:focus::placeholder {
    color: yellow;
}

.checkbox input:checked + span {
    color: red;
}

/* .list li:not(.hide):not(.hidden) {
    color: red;
} */

/* .list li:first-child {
    color: red;
}

.list li:first-of-type {
    color: blue;
}

.list li:last-of-type {
    color: yellow;
}

.list li:last-child {
    color: green;
} */

.list li:nth-child(1) {
    color: red;
}

.list li:nth-child(2n + 2) {
    color: blue;
}

.list li:nth-of-type(1) {
    color: yellow;
}
