* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    border: none;
}

/* earn income CSS */
#earn-income {
    background-color: #334455;
    width: 1162px;
    height: 215px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 36px 0px 0px 42px;
}

/* earn-income hover */
#earn-income:hover .form-earn-income input {
    background-color: #ddd;
}

#earn-income:hover .form-earn-income input::placeholder {
    color: #ffa500;
}

#earn-income:hover .form-earn-income .btn {
    background-color: #ffa500;
    color: #fff;
}

/* title CSS */
.section-title {
    font-family: Tahoma, sans-serif;
    font-size: 24px;
}

.highlight {
    color: #ffa500;
}

/* content css */
.section-detail {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-detail p {
    line-height: 1.6;
    font-size: 14px;
}

/* form css */
.form-earn-income input {
    width: 288px;
    height: 46px;
    line-height: 46px;
    border-radius: 3px;
}
.form-earn-income input {
    padding-left: 15px;
}

.form-earn-income .btn {
    width: 240px;
    height: 46px;
    background-color: #f8db35;
    color: #000;
    border-radius: 3px;
}
