* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

ul {
    width: 80%;
    margin: 30px auto;
    list-style: none;
    background-color: rgb(137, 234, 137);
    font-size: 0;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 5px 20px;
    font-size: initial;
}

/* ul li a {
    border-right: 1px solid #fff;
}
ul li:last-child a {
    border: 0;
} */

ul li + li a {
    border-left: 1px solid #fff;
}

ul li a:hover {
    background-color: red;
}
